{%- style -%}
    {%- if section.blocks.size == 1 -%}
        .col{
            grid-template-columns: 1f;
        }
    {%- elsif section.blocks.size == 2 -%}
        .col{
            grid-template-columns: 1fr 1fr;
        }
    {%- elsif section.blocks.size == 3 -%}
        .col{
            grid-template-columns: .7fr 1fr .7fr;
        }
    {%- endif -%}
{%- endstyle -%}


<div class="container">
    <div class="col">
        {%- for block in section.blocks -%}

           {%- if block.type == 'image' -%}
                <div class="item">
                    <img src={{block.settings.image | image_url}}  width="100%" height="100%">
                </div>   
            {%- elsif block.type == 'main_content' -%}         
                <div class="item item_2">
                    <div class="item_2_images">
                        <img src={{block.settings.image_1 |  image_url }} alt="fasco hero" width="100%" height="100%">
                    </div>
                    <div class="item_2_content">
                            <span class="highlight">
                               {{block.settings.title}}
                            </span>
                            <span class='strong'>
                                {{block.settings.subtitle}}
                            </span>
                        <p>
                           {{block.settings.paragraph}}
                        </p>
                        <a href={{block.settings.button_url}} class="button">
                            {{block.settings.button_text}}
                        </a>                
                    </div>
                    <div class="item_2_images">
                        <img src={{block.settings.image_2 | image_url}} alt="fasco hero" width="100%" height="100%">
                    </div>
        
                </div>
           {% endif %}
        {%- endfor -%}
    </div>
</div>

<style>
    .container{
        width:100vw;
        padding: 20px 0;
    }
    .col{
        width:90%;
        margin: 0 auto;
        display: grid;
        grid-template-rows: 100%;
        gap: 20px;
        height:100%;
    }
    .item{
        background-color: #E0E0E0;
    }

    .item_2{
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap:10px
    }
    .item_2_images{
        height: 150px;
        max-width: 426px;
        width: 100%;
        display: flex;
        justify-content: end;
        align-items: end;
    }
    img{
        object-fit: contain;
    }
    .item_2_content{
        width: 100%;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .item_2_content > *{
        margin: 0;
        text-align: center;
    }
    .highlight h1{
        font-size: 91px;
        font-weight: bold;
        margin: 0
    }
    .strong p{
        margin: 0;
        font-size: 167px;
        line-height: 100%;
        font-weight: bold;
        -webkit-text-fill-color: #ffffff;
        -webkit-text-stroke: 2px black;
    }
</style>

{% schema %}
{
    "name": "Fasco Hero Section",
    "settings": [
       
    
        ],
        "blocks": [
            {
                "type": "image",
                "name": "image",
                "limit": 2,
                "settings": [
                     {
                        "type": "image_picker",
                        "id": "image",
                        "label": "Image"
                     },
                     {
                        "type": "richtext",
                        "id": "image_alt",
                        "label": "Image Alt"
                     },
                     {
                        "type": "color_background",
                        "id": "background_color_img",
                        "label": "Background Color",
                        "default": "rgb(0,0,0)"
                     }
                ]

            },
            {
                "type": "main_content",
                "name": "Main Content",
                "limit": 1,
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "image_1",
                        "label": "Image 1"
                    },
                    {
                        "type": "image_picker",
                        "id": "image_2",
                        "label": "Image 2"
                    },
                    {
                        "type": "richtext",
                        "id": "title",
                        "label": "Title"
                    },
                    {
                        "type": "richtext",
                        "id": "subtitle",
                        "label": "Subtitle"
                    },
                    {
                        "type": "richtext",
                        "id": "paragraph",
                        "label": "Paragraph"
                    },
                    {
                        "type": "color_background",
                        "id": "background_color_content",
                        "label": "Background Color",
                        "default": "rgb(0,0,0)"
                    },
                    {
                        "type": "color",
                        "id": "color_content",
                        "label": "Texts Color",
                        "default": "#000000"
                    },
                    {
                        "type": "text",
                        "id": "button_text",
                        "label": "Text Button"
                    },
                    {
                        "type": "url",
                        "id": "button_url",
                        "label": "Button Url"
                    },
                    {
                        "type": "color_background",
                        "id": "button_background",
                        "label": "Button Background Color",
                        "default": "rgb(0,0,0)"
                    },
                    {
                        "type": "color",
                        "id": "button_color",
                        "label": "Button Text Color",
                        "default": "#ffffff"
                    }
                ]

            }
        ],
        "presets": [
            {
                "name": "Fasco Hero Section"
            }
        ]
}
{% endschema %}