{%-  assign collection = section.settings.collection -%}
<style>
    .flash_sale_container{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 52px 0;
    }
    .flash_content{
        display: flex;
        flex-direction: column;
        justify-content: end;
        width: 100%;
        padding:10px
    }

</style>

  <div class="flash_sale_container">
    <div class="flash_content">
        <div class="content">
            <h2>{{ section.settings.title }}</h2>
            <p>
                {{ section.settings.description }}
            </p>
            <a href="{{ section.settings.button_url }}">{{ section.settings.button_text }}</a>
        </div>
        <div class="count_down">
            <h3 class="count_down_title">
               {{ section.settings.countdown_title }}
            </h3>
            <div class="count_down_clock" id="count_down_clock">

            </div>
        </div>
    </div>
    <div class="falsh_collection">
        {% if collection != blank %}
            {% for product in collection.products %}
                {{ product.featured_image }}
                {{ product.title }}
            {% endfor %}
        {% endif %}
    </div>
</div>

<script>  
    let countDownDate = new Date('{{ section.settings.end_date }}').getTime();
    let x= setInterval(function(){
        const now = new Date().getTime();
        let distance = countDownDate - now;
        const days = Math.floor(distance / (1000 * 60 * 60 * 24))
        const hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        const seconds = Math.floor((distance % (1000 * 60)) / 1000);
        document.getElementById("count_down_clock").innerHTML = days + "d " + hours + "h " + minutes + "m " + seconds + "s ";
        if(distance < 0){
            clearInterval(x);
            document.getElementById('count_down_clock').innerHTML = "Expired"
        }
    }, 1000);
</script>

{% schema %}
    {
        "name": "Fasco Flash Sales Promo",
        "settings": [
            {
                "type": "header",
                "content": "Collection Settings"
            },
            {
                "type": "collection",
                "id": "collection",
                "label": "Collection"
            },
            {
               "type": "header",
               "content": "General Settings"
            },
            {
                "type": "color_background",
                "id": "flash_background",
                "label": "Background Color",
                "default": "#ffffff"
            },
            {
                "type":"richtext",
                "id": "title",
                "label":"Title",
                "default": "<h2>Deals Of The Month</h2>"
            },
            {
                "type": "richtext",
                "id": "description",
                "label": "Description",
                "default": "<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum velit blanditiis voluptate neque corporis aspernatur quisquam animi.</p>"
            },
            {
                "type": "text",
                "id": "button_text",
                "label": "Button Text",
                "default": "Button"
            },
            {
                "type": "url",
                "id": "button_url",
                "label": "Button Link"
            },
            {
                "type": "color",
                "id": "button_text_color",
                "label": "Button Text Color",
                "default": "#ffffff"
            },
            {
                "type": "color_background",
                "id": "button_bg_color",
                "label": "Button Background Color",
                "default": "#000000"
            },
            {
                "type": "header",
                "content": "CountDown CLock"
            },
            {
                "type": "richtext",
                "id": "countdown_title",
                "label": "CountDown Title",
                "default": "<h3>Hurry, Before It's Too Late!</h3>"
            },
            {
                "type": "text",
                "id": "end_date",
                "label": "End date (YYYY-MM-DD HH:MM:SS)",
                "default": "2025-12-31 23:59:59",
                "info": "Format: YYYY-MM-DD HH:MM:SS"
            }
        
        ],
        "presets": [
            {
                "name": "Fasco Flash Sales Promo"
            }
        ]
    }
{% endschema %}
