{%- style -%}
    {%- if section.blocks.size == 1 -%}
            .col{
                grid-template-columns: 1f;
            }
        {%- elsif section.blocks.size == 2 -%}
            .col{
                grid-template-columns: 1fr 1fr;
            }
        {%- elsif section.blocks.size == 3 -%}
            .col{
                grid-template-columns: 1fr 2fr 1fr;
            }
    {%- endif -%}
    {%- for block in section.blocks -%}
        {%- if block.type == "image" -%}
            #block__{{block.id}}{
                background-color: {{block.settings.background_color_img}};
            }
        {%-  elsif block.type== "main_content" -%}
            #content__block{{block.id}} .img_1{
                background-color: {{ block.settings.image_1_bg_color }}
            }
            #content__block{{block.id}} .img_2{
                background-color: {{ block.settings.image_2_bg_color }}
            }
        {%- endif -%}
    {%- endfor -%}
{%- endstyle -%}

{{ "fasco.hero_section.css" |  asset_url |  stylesheet_tag }}

{% comment %} fasco_hero-section {% endcomment %}
<div class="container" id="section_{{section.id}}">
    <div class="col">
        {%- for block in section.blocks -%}

           {%- if block.type == 'image' -%}
                
                <div class="item item-img" id="block__{{block.id}}">
                    {% if block.settings.image != blank %}
                     <img src={{block.settings.image | image_url}}  width="100%" height="100%">    
                    {% else %}
                    {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
                    {% endif %}
                   
                </div>   
            {%- elsif block.type == 'main_content' -%}         
                <div class="item item_2" id="content__block{{block.id}}">
                    <div class="item_2_images img_1">
                        {% if block.settings.image_1 != blank %}
                            <img src={{block.settings.image_1 |  image_url }} alt="fasco hero" width="100%" height="100%">
                        {% else %}
                         {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
                        {% endif %}
                        
                    </div>
                    <div class="item_2_content">
                            <span class="highlight">
                               {{block.settings.title}}
                            </span>
                            <span class='strong'>
                                {{block.settings.subtitle}}
                            </span>
                        <span class="para">
                           {{block.settings.paragraph}}
                        </span>
                        <a href={{block.settings.button_url}} >
                            {{block.settings.button_text}}
                        </a>                
                    </div>
                    <div class="item_2_images img_2">
                        {% if block.settings.image_2 != blank %}
                             <img src={{block.settings.image_2 | image_url}} alt="fasco hero" width="100%" height="100%"> 
                          {% else %}
                             {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
                        {% endif %}
                       
                    </div>
        
                </div>
           {% endif %}
        {%- endfor -%}
    </div>
</div>

{% comment %} script {% endcomment %}
<script>
    document.addEventListener('DOMContentLoaded', () => {
    gsap.registerPlugin(SplitText, ScrollTrigger);
    let tl = gsap.timeline({
       scrollTrigger: {
        trigger: ".container",       // the whole section
        start: "top 85%",              // animation starts early
        toggleActions: "play reverse play reverse", 
        }
    });
    const images = gsap.utils.toArray('#section_{{section.id}} .item img');
    const highlight = document.querySelector('.item_2_content')


    let mySplitHighlight = new SplitText(highlight, {type:'lines'})
    // text Animation
    tl.from(mySplitHighlight.lines, {opacity: 0, y: 50, stagger: 0.05, ease: "back.out(1.7)", duration: 2}, 1.2)

    //  images Animation
    images.forEach((image, i) => {
        tl.from(image, { opacity: 0, x: "100%", ease: "back.out(1.7)", duration:1 }, i * 0.4 )
    });
});
</script>

{% comment %} schema {% endcomment %}
{% schema %}
    {
        "name": "Fasco Hero Section",
        "settings": [
        
        
            ],
            "blocks": [
                {
                    "type": "image",
                    "name": "image",
                    "limit": 2,
                    "settings": [
                        {
                            "type": "image_picker",
                            "id": "image",
                            "label": "Image"
                        },
                        {
                            "type": "richtext",
                            "id": "image_alt",
                            "label": "Image Alt"
                        },
                        {
                            "type": "color_background",
                            "id": "background_color_img",
                            "label": "Background Color",
                            "default": "rgb(0,0,0)"
                        }
                    ]

                },
                {
                    "type": "main_content",
                    "name": "Main Content",
                    "limit": 1,
                    "settings": [
                        {
                            "type": "image_picker",
                            "id": "image_1",
                            "label": "Image 1"
                        },
                        {
                            "type": "color_background",
                            "id": "image_1_bg_color",
                            "label": "Image 1 BackgroundColor",
                            "default": "rgb(255,255,255)"
                        },
                        {
                            "type": "image_picker",
                            "id": "image_2",
                            "label": "Image 2"
                        },
                        {
                            "type": "color_background",
                            "id": "image_2_bg_color",
                            "label": "Image 2 BackgroundColor",
                            "default": "rgb(255, 255, 255)"
                        },
                        {
                            "type": "richtext",
                            "id": "title",
                            "label": "Title"
                        },
                        {
                            "type": "richtext",
                            "id": "subtitle",
                            "label": "Subtitle"
                        },
                        {
                            "type": "richtext",
                            "id": "paragraph",
                            "label": "Paragraph"
                        },
                        {
                            "type": "color_background",
                            "id": "background_color_content",
                            "label": "Background Color",
                            "default": "rgb(0,0,0)"
                        },
                        {
                            "type": "color",
                            "id": "color_content",
                            "label": "Texts Color",
                            "default": "#ffffff"
                        },
                        {
                            "type": "text",
                            "id": "button_text",
                            "label": "Text Button"
                        },
                        {
                            "type": "url",
                            "id": "button_url",
                            "label": "Button Url"
                        },
                        {
                            "type": "color_background",
                            "id": "button_background",
                            "label": "Button Background Color",
                            "default": "rgb(0,0,0)"
                        },
                        {
                            "type": "color",
                            "id": "button_color",
                            "label": "Button Text Color",
                            "default": "#ffffff"
                        }
                    ]

                }
            ],
            "presets": [
                {
                    "name": "Fasco Hero Section",
                    "blocks": [
                        {
                            "type": "image"
                        },
                        {
                            "type": "main_content",
                            "settings": {
                                "title":"<h2>ULTIMATE</h2>",
                                "subtitle":"<h2>SALE</h2>",
                                "paragraph":"<p>NEW COLLECTION</p>",
                                "button_text":"Button",
                                "button_url":"https://google.com",
                                
                            }
                        },
                        {
                            "type": "image"
                        }
                    ]
                }
            ]
    }
{% endschema %}